---
- name: Install dependencies for nvm
  apt:
    pkg:
      - curl
      - zip
    state: present
    update_cache: yes

- name: Download nvm install script
  get_url:
    url: https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh
    dest: /tmp/install-nvm.sh
    mode: "0755"

- name: Install nvm
  shell: /tmp/install-nvm.sh
  args:
    creates: /root/.nvm/nvm.sh
    executable: bash
  environment:
    HOME: /root

- name: Install Node.js v22.21.1 using nvm
  shell: |
    . /root/.nvm/nvm.sh
    nvm install v22.21.1
    nvm alias default v22.21.1
  args:
    creates: /root/.nvm/versions/node/v22.21.1
    executable: bash
  environment:
    HOME: /root

- name: Create symlinks for node and npm in /usr/local/bin
  shell: |
    . /root/.nvm/nvm.sh
    ln -sf $(which node) /usr/local/bin/node
    ln -sf $(which npm) /usr/local/bin/npm
    ln -sf $(which npx) /usr/local/bin/npx
  args:
    executable: bash
  environment:
    HOME: /root

- name: Install Workbox-CLI
  npm:
    name: workbox-cli
    global: yes

- name: Download rclone install script
  get_url:
    url: https://rclone.org/install.sh
    dest: /tmp/install-rclone.sh
    mode: 777

- name: Install rclone
  shell: /tmp/install-rclone.sh
  args:
    creates: /usr/bin/rclone
    executable: bash
